{% extends "dashboard.html" %}
{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title ">フォロー中</h4>
            <p class="card-category">フォロー中の配信者一覧です。</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                    <tr><th>
                        名前
                    </th><th>
                        配信中・オフライン
                    </th><th>
                        追加
                    </th></tr>
                    </thead>
                    <tbody>
                    {% for i in following_list %}
                    <tr>
                        <td><img src="{{ i["avatar"] }}" alt="streamer_icon" style="height:2rem; margin-right: 1rem;">{{ i["loginname"] }}</td>
                        <td>
                            {% if i["anchor_live"]==11 %}
                            <a href="https://www.mildom.com/{{ i["user_id"] }}">配信中</a>
                            {% else %}
                            オフライン
                            {% endif %}
                        </td>
                        <td class="td-actions">
                            {% if i["user_id"]|string not in subscribing_list %}
                            <form action="{{ url_for("add_channels") }}" method="post">
                            <input type="hidden" name="mode" value="add">
                            <input type="hidden" name="discord_user_id" value="{{ session["discord_user_id"] }}">
                            <button type="submit" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm"
                                    data-original-title="チャンネルを追加" name="mildom_id" value="{{ i["user_id"] }}">
                                <i class="material-icons">add</i>
                            </button>
                            </form>
                            {% else %}
                            <form action="{{ url_for("add_channels") }}" method="post">
                            <input type="hidden" name="mode" value="remove">
                            <input type="hidden" name="discord_user_id" value="{{ session["discord_user_id"] }}">
                            <button type="submit" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm"
                                    data-original-title="チャンネルを削除" name="mildom_id" value="{{ i["user_id"] }}">
                                <i class="material-icons">close</i>
                            </button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}